html, body{
    height: 100%;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #faf9f9;
}

.card-header{
    font-size: 1.2em ;
}

.card{
    opacity: 1;
    background-color: #faf9f9;
}

section{
    margin-top: 2em;
}
